<!-- INCLUDE overall_header.html -->

<h2>Getting Started at GC</h2>

<div class="panel">
   <div class="inner"><span class="corners-top"><span></span></span>

   <div class="content">
      <p>
         <font size = 2>

<br/>		 
Dear new player,<br/>
<br/>
     We would like to take this chance to welcome you to Global Conflict aka GC. You have just joined one of the best communities on the net for organized gameplay. At Global Conflict, we believe that we are all here for a mature and most important, fun game of BF, and we have made that the basis of our community.
<br/>
<br/>
     To participate in every battle in the campaign you will need to download Teamspeak (TS) - we will be getting to that shortly. We guarantee that once you have this done and join us on our servers for the very first time you are going to love what we have created here at Global Conflict.
<br/>
<br/>
<br/>
<br/>
<font size = 2><b>Eight Simple Steps to Start at Global Conflict</b></font>
<br/>
<br/>
     <ol>
         <li>Click <u><a href="http://global-conflict.org/ucp.php?mode=register" target="_blank">here</a></u> to register an account on our site.</li>

<br/>    <li>We use <u><a href="http://www.teamspeak.com/?page=downloads" target="_blank">Teamspeak</a></u> to talk to each other. Talking is not mandatory, but you do need TS to listen!</li>

<br/>    <li>Our main battles are always on Saturday and last from 19:00 CET (1pm Eastern, 12pm Central, 10am Pacific) until 01:00 CET (7pm Eastern, 6pm Central 4pm Pacific). During certain campaigns we may add Tuesday battles - watch the forums for information. For more timezones click <u><a href="http://global-conflict.org/whatisSBT_&_worldclock.php" target"_blank">here</a></u>.</li>

<br/>    <li>Sign up to an army using the instructions below.</li>

<br/>    <li>Make sure you sign up for the times you will be able to participate. Make sure you check out the battle strategies for every fight in your army barracks or strategy forum.</li>

<br/>    <li>Try to show up on TS 30 minutes before the match starts. If you can't join at the start of the fight, make sure you check in on TS before joining the game server. Either way, one of the commanders will assign you to a squad and your squad leader will tell you your assignment within the squad.</li>

<br/>    <li>When in doubt, don't be afraid to ask anyone you see for help (although you should ensure they are GC members).</li>

<br/>    <li>Good luck and have fun!</li>
     </ol>
<br/>
<br/>
<br/>
<font size = 2><b>Signing Up</b></font>
<br/>
<br/>
     Now, this is where your journey really begins. First, you'll want to click this link that will take you to the current active campaign sign-up:
<br/>
<br/>
	 <div style="text-align: center">
		<a href="{U_ABC_PAGE}"><img src="/styles/home_page/abc.png" alt=""></a>
	</div>
<br/>
<br/>
     Once you've been added to an army, a new forum will open for you that contains Army Barracks, Strategy Room and Tavern where you hang out. In the barracks you will see the many squads you can join, simply click on them for further information, some will be air force or armor squads, which may require you to be invited or to try out, some will be basic infantry squads that anyone can join, the choice is up to you, simply read the first post in the squads thread for any info you are required to give and any info you might require for battles. You will soon be added to that squads roster, assigned a rank, and will be ready to hit the field. 
<br/>
<br/>
<br/>
<font size = 2><b>Important Info</b></font>
<br/>
<br/>     
     If you have any further questions or are having difficulties please feel free to post a topic in the forums asking for help. In addition, Global Conflict is funded strictly by <b>donations</b> from our users. You are not required to donate in order to participate in GC but if you like what you see and wish to help us keep this great idea going please donate now.  You can donate through <u><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=PSS5RKSS77EXG" target="_blank">PayPal</a></u>. If you are unable to use PayPal you can request the mailing address from <u><a href="http://www.global-conflict.org/ucp.php?i=pm&mode=compose&u=4" target="_blank">Ghoul</a></u> so you can send him funds by snail mail. 
<br/>
<br/>
<br/>
<br/>
<b><font size = 2>Thank You!</font></b>
<br/>
<br/>
P.S. Since this post is constantly being updated, check back often for any assistance you may require.
<br/>

</font>
         
         
         
      </p>
   </div>

   <span class="corners-bottom"><span></span></span></div>
</div>

<!-- INCLUDE jumpbox.html -->
<!-- INCLUDE overall_footer.html -->
