<!-- INCLUDE overall_header.html -->

<h2>What is GC?</h2>

<div class="panel">
   <div class="inner"><span class="corners-top"><span></span></span>

   <div class="content">
      <p>
         <font size = 2>

<br/>		 
Global Conflict is an online gaming community mainly centered around the Battlefield franchise which has been around <b>since BF1942</b>. We've organized tournaments with all the BF games and many mods.
<br/>
<br/>
Have you ever wished your FPS experience could be something more? Hate it when you join a squad but everyone just does their own thing? Do you wish your team would work together, fight for something big and defend every flag to the very last drop of virtual blood? Then GC is the place for you!
<br/>
<br/>
Every Saturday, 2 armies fight on our private game servers. Battledays last 6 hours, but you can come and go as you please. Standard battle time is 10am-4pm PST / 1pm-7pm EST / 18:00-midnight GMT / 19:00-01:00 CET. We also have optional practices throughout the week.
<br/>
<br/>
Global Conflict normally hosts 2 public/private servers where the campaign battles take place. One is European based and the other is N. American based. The intention is that battles will be balanced in regard to connection speeds to the servers (pings). Our player base is global and we attempt to be as fair as possible by playing half our battles on each server.
<br/>
<br/>
<br/>
<b><font size = 3>What is it?</font></b>
<br/>
<br/>
A whole new way to play team based first person shooters. We turn each game map into a small battle in a larger war. <b>We are NOT a clan</b>. Instead, when you join GC you are placed in one of two armies. Each army has a strict hierarchy, with a general at the top and several squads with their own captains, lieutenants, etc. Every Saturday, these two armies clash in a 6-hour battleday for control of territories on the campaign map. It's like playing Risk, where every dice roll is a round of which ever game we are currently playing.
<br/>
<br/>
<div style="text-align: center">
	<img src="https://global-conflict.org/images/recruiting/whatisgc.png">
</div>
<br/>
<br/>
A GC battleday feels like a whole new game. Squads work together to hold flags and capture new objectives. Generals give orders, and captains coordinate their troops to get them done. In GC, your teammates <b>always have your back</b>, your squad will heal you and supply ammo, air support will blow up tanks, and high command will send backup when your flagzone gets hot.
<br/>
<br/>
After each day, captains assign <b>medals and promotions</b> based on teamwork, skill, and leadership. You'll join as a private, but dedicated players quickly rise through the ranks to lead squads and armies. Each campaign lasts 2-3 months (and longer if the fighting is close!), at which point we choose new high commands and draft new armies. We've been playing this way since 2003 with Battlefield 1942 and since then we've run more than 30 campaigns.
<br/>
<br/>
<br/>
<b><font size = 3>Can I play?</font></b>
<br/>
<br/>
Yes! Global Conflict is <b>open to anyone</b>! Our players come from all over the globe, and we welcome all ages, genders, and skill levels. The only requirements are: having the current game we are playing, a microphone and enough English to understand orders.
<br/>
<br/>
However, GC is <b>not for everyone</b>. You have to be willing to follow orders, sacrifice for the team, and play nice with others. We don't care about your Rambo skills or 360 no scopes if you can't spot enemies, capture flags, or defend chokepoints. And of course, anyone caught cheating will be banned immediately.
<br/>
<br/>
Best of all, it's <b>completely free</b>! We've never charged a penny to play, because we have an incredible community that's been playing together since BF1942. Our servers are paid for by donations and the tournament is run by dedicated volunteers.
<br/>
<br/>
<br/>
<b><font size = 3>OK, OK! Where do I sign up?</font></b>
<br/>
<br/>
Click <u><a href="https://global-conflict.org/gettingstartedatGC.php" target="_blank">here</a></u> to get started!
</font>
         
         
         
      </p>
   </div>

   <span class="corners-bottom"><span></span></span></div>
</div>

<!-- INCLUDE jumpbox.html -->
<!-- INCLUDE overall_footer.html -->
